.up {
  width: 40px;
  height: 40px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: var(--brand-cyan);
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up:hover {
  background-color: var(--body-background-color);
  color: var(--brand-cyan);
}
  